html {
background: #e6ddd1;
}

body {
    background-color: #eee9e3 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
    margin: 40px;
    padding: 40px;
    color: black;
    border-top: 10px #51e2f5;
}


.card { 
    background-color:#eeedeb;
    border-radius: 15px;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    box-shadow: rgba(0,0,0, 0.1) 10 10 20px);
    border: 2px solid #aaa;
}

.card .avatar {
    box-shadow: rgba(0,0,0, 0.1) 0 10 10px);
    width: 100px;
    border-radius: 50%;
    margin-top: -50px;
}

.contacts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contacts li {
    background-color: #e6ddda;
    display: inline-block;
    padding: 10px 5px;
    display: grid;
}


.about {
    display: grid
    grid-gap: 10px;
    text-align: center;
}

img {
    width: 200px;
}

.icons {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-left: 20px;
    gap: 60px;

}

h1 {
    text-align: center;
}

.pics {
    display: flex;
    width: 65px;
    gap: 100px;
    align-content: center;

}

@media (max-width: 400px) {
    .icons {
        flex-direction: column;
    }